body {
    font-family: "Playfair Display", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.book-content {
    margin-top: 20px;
}
.book-content p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 25px;
}

h2 {
    color: #555;
}
.righten {
    text-align: right;
}
.titlemain {
    float: left;
    margin-top: -30px;
}
.titlemain a {
    text-decoration: none;
}
